*{
    margin: 0;
    padding: 0;
}

body {
    background: #067A60;
}

h1 {
    text-align: center;
    margin: 50px;
    font-size: 4em;
}

#grandeDiv {
    min-width: 900px;
    max-width: 900px;
    min-height: 410px;
    max-height: 410px;
    background: white;
    margin: auto;
}

#divDessus {
    min-width: 900px;
    max-width: 900px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#divCategorie {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 1.5em;
}

#divScore {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 1.5em;
}

#yesScore{
    width: 30px;
    height: 40px;
    background: rgba(0, 128, 0, 0.6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

#noScore {
    width: 30px;
    height: 40px;
    background: rgba(255, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divQuestion {
    min-height: 100px;
}

#question {
    text-align: center;
    font-size: 1.8em;
}

#divReponses {
    height: 180px;
}

.cR {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btnReponse {
    min-width: 400px;
    min-height: 50px;
    margin: 8px;
    border-radius: 5px;
    background: #F7BD09;
    font-size: 1.4em;
}

#divBtnClear {
    height: 50px;
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

#check {
    color: white;
    background: #218cb7;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 240px;
}

#clear {
    color: white;
    background: red;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}